<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']"
                  type="Sitecore.Foundation.Extenstion.Pipelines.HandleItemNotFound, Sitecore.Foundation.Extenstion">
          <RelativeUrlPrefixesToIgnore hint="list">
            <Prefix>/zh-TW</Prefix>
          </RelativeUrlPrefixesToIgnore>
        </processor>
      </httpRequestBegin>
      <mvc.exception>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.MvcEvents.Exception.ShowAspNetErrorMessage, Sitecore.Mvc']"
                  type="Sitecore.Foundation.Extenstion.Pipelines.HandleMvcException, Sitecore.Foundation.Extenstion" />
      </mvc.exception>
      <!--<preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.StripLanguage, Sitecore.Kernel" >
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Foundation.Extenstion.StripLanguageConfiguration.StripLanguageCustomize, Sitecore.Foundation.Extenstion" />
      </preprocessRequest>-->
    </pipelines>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="useDisplayName">true</patch:attribute>
          <patch:attribute name="languageEmbedding">always</patch:attribute>
        </add>
      </providers>
    </linkManager>
  </sitecore>
</configuration>
