<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Varsity | Home</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="../../Assets/assets/img/favicon.ico" type="image/x-icon">

	<!-- Font awesome -->
	<link href="../../Assets/assets/css/font-awesome.css" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="../../Assets/assets/css/bootstrap.css" rel="stylesheet">
	<!-- Slick slider -->
	<link rel="stylesheet" type="text/css" href="../../Assets/assets/css/slick.css">
	<!-- Theme color -->
	<link id="switcher" href="../../Assets/assets/css/theme-color/default-theme.css" rel="stylesheet">

	<!-- Main style sheet -->
	<link href="../../Assets/assets/css/style.css" rel="stylesheet">


	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700" rel="stylesheet" type="text/css">

</head>
<body>
	@Html.Sitecore().Placeholder("header")

	@Html.Sitecore().Placeholder("content")

	@Html.Sitecore().Placeholder("footer")

	<!-- jQuery library -->
	<script src="../../Assets/assets/js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../Assets/assets/js/bootstrap.js"></script>
	<!-- Slick slider -->
	<script type="text/javascript" src="../../Assets/assets/js/slick.js"></script>
	<!-- Counter -->
	<script type="text/javascript" src="../../Assets/assets/js/waypoints.js"></script>
	<script type="text/javascript" src="../../Assets/assets/js/jquery.counterup.js"></script>

	<!-- Custom js -->
	<script src="../../Assets/assets/js/custom.js"></script>
	<div id="portfolio-popup"><div class="portfolio-popup-area"><div class="portfolio-popup-inner"></div></div></div>
</body>
</html>